@import "../../../styles/variables.scss";

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    section{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-section{
        
        gap: 8px;

        flex-grow: 1;

        background: $gray-bg;
    }

    .form-section{
        flex-grow: 0.3;
        padding: 0 35px;

        img{
            margin-bottom: 30px;
        }

        h2{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 45px;
        }

        .btn-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 30px;

            .divider{
                display: flex;
                font-size: 14px;
                color: $gray-bg;
                font-weight: 400;
                align-items: center;
                justify-content: center;
                gap: 20px;
                text-transform: uppercase;
                width: 100%;

                div{
                    flex-grow: 1;
                    height: 2px;
                    background-color: $gray-bg;
                }
            }

            button{
                width: 100%;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 500;
                border: none;
                background: transparent;
                padding: 12px 24px;
                cursor: pointer;

                &.disabled{
                    opacity: 0.8;
                    cursor: none;
                }

                &.btn-primary{
                    background-color: $primary-color;
                    color: white;
                    box-shadow: 0px 8px 12px rgba(148.23004603385925, 64.3393559753894, 255, 0.200000002988023224);
                }

                &.btn-secondary{
                    border: 1px solid $primary-color;
                    color: $primary-color;
                }
            }

        }

    }
}